In [12]:
df['liste_libelle_risque'][2]

'[{\'num_risque\': \'180\', \'libelle_risque_long\': "Par une crue à débordement lent de cours d\'eau"}]'

In [13]:
import ast
import pandas as pd 

df = pd.read_csv('Python-For-Data-Science-Project/flood_risk_data.csv')

df_llr2 = pd.DataFrame(df['liste_libelle_risque'].apply(ast.literal_eval))
df_exploded = pd.DataFrame(df_llr2['liste_libelle_risque'].explode())
df_normalized = pd.json_normalize(df_exploded)
df_result = pd.concat([df_normalized, df['libelle_commune'].repeat(df_llr2['liste_libelle_risque'].str.len()).reset_index(drop=True)], axis=1)

In [15]:
df_llr2

                                   liste_libelle_risque
0     [{'num_risque': '180', 'libelle_risque_long': ...
1     [{'num_risque': '180', 'libelle_risque_long': ...
2     [{'num_risque': '180', 'libelle_risque_long': ...
3     [{'num_risque': '180', 'libelle_risque_long': ...
4     [{'num_risque': '180', 'libelle_risque_long': ...
...                                                 ...
2398  [{'num_risque': '131', 'libelle_risque_long': ...
2399  [{'num_risque': '131', 'libelle_risque_long': ...
2400  [{'num_risque': '131', 'libelle_risque_long': ...
2401  [{'num_risque': '131', 'libelle_risque_long': ...
2402  [{'num_risque': '131', 'libelle_risque_long': ...

[2403 rows x 1 columns]