In [ ]:
import ast
import pandas as pd 

df = pd.read_csv('flood_risk_data.csv')
df_small = df[['liste_libelle_risque','libelle_commune']]

In [ ]:
def str_to_list(cell):
    cell = ''.join(c for c in cell if c not in "'[]")
    cell = cell.split(', ')
    return cell

df_llr = pd.DataFrame(df['liste_libelle_risque'].apply(str_to_list))

df_small['liste_libelle_risque'] = df['liste_libelle_risque'].apply(str_to_list)

/tmp/ipykernel_69478/2917512295.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_small['liste_libelle_risque'] = df['liste_libelle_risque'].apply(str_to_list)

In [139]:
df_small

                                   liste_libelle_risque        libelle_commune
0     [{num_risque: 180, libelle_risque_long: "Par u...             BEAUREGARD
1     [{num_risque: 180, libelle_risque_long: "Par u...                BEYNOST
2     [{num_risque: 180, libelle_risque_long: "Par u...  CORMORANCHE-SUR-SAONE
3     [{num_risque: 180, libelle_risque_long: "Par u...                CROTTET
4     [{num_risque: 180, libelle_risque_long: "Par u...                FAREINS
...                                                 ...                    ...
2398  [{num_risque: 131, libelle_risque_long: Par la...             SAINT-PAUL
2399  [{num_risque: 131, libelle_risque_long: Par la...           SAINT-PIERRE
2400  [{num_risque: 131, libelle_risque_long: Par la...           SAINTE-MARIE
2401  [{num_risque: 131, libelle_risque_long: Par la...         SAINTE-SUZANNE
2402  [{num_risque: 131, libelle_risque_long: Par la...              LE TAMPON

[2403 rows x 2 columns]

In [140]:
df_llr

                                   liste_libelle_risque
0     [{num_risque: 180, libelle_risque_long: "Par u...
1     [{num_risque: 180, libelle_risque_long: "Par u...
2     [{num_risque: 180, libelle_risque_long: "Par u...
3     [{num_risque: 180, libelle_risque_long: "Par u...
4     [{num_risque: 180, libelle_risque_long: "Par u...
...                                                 ...
2398  [{num_risque: 131, libelle_risque_long: Par la...
2399  [{num_risque: 131, libelle_risque_long: Par la...
2400  [{num_risque: 131, libelle_risque_long: Par la...
2401  [{num_risque: 131, libelle_risque_long: Par la...
2402  [{num_risque: 131, libelle_risque_long: Par la...

[2403 rows x 1 columns]

In [130]:
df_small['liste_libelle_risque'] = df_small['liste_libelle_risque'].apply(ast.literal_eval)

ValueError: malformed node or string: ['{num_risque: 180', 'libelle_risque_long: "Par une crue à débordement lent de cours deau"}', '{num_risque: 183', 'libelle_risque_long: "Par une crue torrentielle ou à montée rapide de cours deau"}']

In [ ]:
df_llr = pd.DataFrame(df['liste_libelle_risque'].apply(ast.literal_eval))

In [132]:
df_llr

                                   liste_libelle_risque
0     [{'num_risque': '180', 'libelle_risque_long': ...
1     [{'num_risque': '180', 'libelle_risque_long': ...
2     [{'num_risque': '180', 'libelle_risque_long': ...
3     [{'num_risque': '180', 'libelle_risque_long': ...
4     [{'num_risque': '180', 'libelle_risque_long': ...
...                                                 ...
2398  [{'num_risque': '131', 'libelle_risque_long': ...
2399  [{'num_risque': '131', 'libelle_risque_long': ...
2400  [{'num_risque': '131', 'libelle_risque_long': ...
2401  [{'num_risque': '131', 'libelle_risque_long': ...
2402  [{'num_risque': '131', 'libelle_risque_long': ...

[2403 rows x 1 columns]

In [ ]:
df_exploded = pd.DataFrame(df_llr['liste_libelle_risque'].explode())

In [134]:
pd.json_normalize(df_exploded['liste_libelle_risque'])

     num_risque                                libelle_risque_long
0           180     Par une crue à débordement lent de cours d'eau
1           183  Par une crue torrentielle ou à montée rapide d...
2           180     Par une crue à débordement lent de cours d'eau
3           183  Par une crue torrentielle ou à montée rapide d...
4           180     Par une crue à débordement lent de cours d'eau
...         ...                                                ...
4017        183  Par une crue torrentielle ou à montée rapide d...
4018        131          Par lave torrentielle (torrent et talweg)
4019        183  Par une crue torrentielle ou à montée rapide d...
4020        131          Par lave torrentielle (torrent et talweg)
4021        183  Par une crue torrentielle ou à montée rapide d...

[4022 rows x 2 columns]